body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 1200px;
  height: 69px;
  padding-left: 10px;
  justify-content: space-between;

}
.logo {
  height: 50px;
  margin-left: 10px;
}

nav span {
  padding-right: 30px;
  text-decoration: underline;
}
